In [23]:
%load_ext ipicat

The ipicat extension is already loaded. To reload it, use:
  %reload_ext ipicat

In [24]:
%%picat
import input_sample.
import util.

main ?=>
    locomotives(Loc),
    init_location(Init_Location), 
    init_time(Init_Time), 
    printf("%w", Loc).

[250-1,250-2,246-1,246-2,203-1,203-2,203-3,203-4]

In [25]:
%%picat
import input_sample.
import util.

main ?=>
    init_time(Init), 
    printf("%w",men_2(Init)),
    M = men_2(Init),
    printf("%w",sub_M_em_L(M,Init) ),
    services(S),
    M2 = menor(S),
    printf("%w", M2),
    %printf("\n %w", S),
    %printf("\n %w", subtract_values(S, M2)). 
    L2 = subtract_values(S, M2),
    print_list(L2).

print_list([]) =>
    true.
print_list([X | Xs]) =>
    printf("\n (%w),", X),
    print_list(Xs).

subtract_values(List, Value) = R =>
    ResultList = [],
    foreach(Tuple in List)
        (X1,X2,X3,X4,X5) = Tuple,
        NewTuple = (X1,X2, X3 - Value, X4, X5 - Value),
        ResultList := ResultList ++ [NewTuple]
    end,
    R = ResultList.

%sub_M_em_T(M,L) = [ Y : (X1,X2,X3,X4,X5) in L, Y3 is (X3-M), Y5 is (X5-M),  Y is (X1,X2,Y3,X4,Y5) ]. 

sub_M_em_L(M,L) = [ Y : X in L, Y is (X-M)]. 

menor([]) = R, len([]) == 0 => R = 0.
menor([A]) = R, len([A]) == 1 => R = n_tupla(A).              
menor([A, B | L]) = R, n_tupla(A) < n_tupla(B) => R = menor([A | L]).    
menor([A, B | L]) = R, n_tupla(B) =< n_tupla(A) => R = menor([B | L]).

n_tupla((_, _, X, _, _)) = X.

men_2([]) = R, len([]) == 0 => R = 0.
men_2([A]) = R, len([A]) == 1 => R = A.              
men_2([A, B | L]) = R, (A < B) => R = men_2([A | L]).    
men_2([A, B | L]) = R, (B =< A) => R = men_2([B | L]).

0[0,0,50400,50400,50400,50400,50400,50400]0
 (b0001,dro,54000,bno,68400),
 (b0002,bno,108060,dro,133200),
 (b0003,dro,226800,bno,241200),
 (b0004,bno,280860,dro,306000),
 (b0005,dro,399600,bno,414000),
 (b0006,bno,453600,dro,478800),
 (b0007,dnm,205200,wmeX,244800),
 (b0008,wmeX,291600,dnm,331200),
 (b0009,dnm,378000,wmeX,417600),
 (b0010,wmeX,464400,dnm,504000),
 (b0011,dnm,550800,wmeX,590400),
 (b0012,wmeX,637200,dnm,676800),
 (b0013,bwur,75600,lmof,79200),
 (b0014,lmof,100800,bwur,104400),
 (b0015,bwur,248400,lmof,252000),
 (b0016,lmof,273600,bwur,277200),
 (b0017,bwur,421200,lmof,424800),
 (b0018,lmof,446400,bwur,450000),
 (b0019,bwur,345600,egbk,381600),
 (b0020,egbk,439200,bwur,475200),
 (b5001,dro,0,dro,28800),
 (b5002,bno,72000,bno,108000),
 (b5003,dro,165600,dro,194400),
 (b5004,bno,241260,bno,280800),
 (b5005,dro,345600,dro,363600),
 (b5006,bno,363601,bno,374400),

In [26]:
%%picat
subtract_values(List, Value) = R =>
    ResultList = [],
    foreach(Tuple in List)
        (X1,X2,X3,X4,X5) = Tuple,
        NewTuple = (X1,X2, X3 - Value, X4, X5 - Value),
        ResultList := ResultList ++ [NewTuple]
    end,
    R = ResultList.

main =>
    L = [('b5004', 'bno', 1672732860, 'bno', 1672772400),
         ('b5005', 'dro', 1672837200, 'dro', 1672855200),
         ('b5006', 'bno', 1672855201, 'bno', 1672866000)],
    Value = 99999,
    Result = subtract_values(L, Value),
    writeln(Result).

[(b5004,bno,1672632861,bno,1672672401),(b5005,dro,1672737201,dro,1672755201),(b5006,bno,1672755202,bno,1672766001)]

In [27]:
%%picat
import input_sample.
import util.
main =>
   
   services(S),
   printf("\n %w \n", S),
   my_sort(S,L1),
   h_sort(S,L2), 
   L3 = sort_2(S),
   %write(L1), nl,
   printf("\n SORTED OK\n: %w  \n", L3), 
   print_list(L3), 
   printf("\n %w %w %w \n", len(S), len(L1), len(L3)) .

print_list([]) =>
    true.
print_list([ X | Xs]) =>
    printf("\n (%w),", X),
    %writeln(X),
    print_list(Xs).

%my_sort([], R) ?=> R  = [].
%my_sort([A], [R]), len([A]) == 1  ?=>  R = A.
my_sort([], A) ?=> A = [].
my_sort([A], AL) ?=> AL = [A].

my_sort([A,B|L], Menor_L1) ?=>
   %[Menor|L1] = Menor_L1, % fixed by hakank
    (_,_,Xa,_,_) = A,
    (_,_,Xb,_,_) = B,
    Xa @< Xb, % hakank: Using @< instead of <
    Menor = A,
    Menor_L1 = [Menor|L1],
    my_sort([B|L], L1).

my_sort([A,B|L], Menor_L1) =>
    %[Menor|L1] = Menor_L1,  % fixed by hakank
    (_,_,Xa,_,_) = A,
    (_,_,Xb,_,_) = B,
    Xa @>= Xb,
    Menor = B,
    Menor_L1 = [Menor|L1],
    my_sort([A|L], L1).

%%% by Hakan
h_sort([], []).
h_sort([A], [A]).
h_sort([A,B|L], [Menor|L1]) :-
    (_,_,Xa,_,_) = A,
    (_,_,Xb,_,_) = B,
    ( Xa @< Xb ->
       Menor = A,
       h_sort([B|L], L1)
    ;
      Menor = B,    
      h_sort([A|L], L1)
    ).


n_3_tupla((_, _, X, _, _)) = X.

menor([]) = R, len([]) == 0 => R = 0.
menor([A]) = R, len([A]) == 1 => R = A.              
menor([A, B | L]) = R, n_3_tupla(A) @< n_3_tupla(B) => R = menor([A | L]).    
menor([A, B | L]) = R, n_3_tupla(B) @=< n_3_tupla(A) => R = menor([B | L]).

sort_2([]) = R => R = [].
sort_2([A]) = R => R = [A].
sort_2(L) = R => 
    M = menor(L),
    L_2 = delete(L, M),
    R = [ M | sort_2(L_2) ].
 trace,

*** SYNTAX ERROR *** (73-74) primary expression expected before '.'.
 trace,
<<HERE>>

*** error(syntax_error,picat)

In [28]:
%%picat
import util.
main ?=>
 L = [('250-1',dro,0),('250-2',dro,0),('246-1',dnm,50400),('246-2',dnm,50400),
 ('203-1',bwur,50400),('203-2',bwur,50400),('203-3',bwur,50400),
 ('203-4',bwur,50400)], 
  X= (b5001,dro,0,dro,2880),
  printf("\n x:%w  L:%w", X, L),  
  find_locomotives(X, L, L2),
  print(L2). 

main => true.

find_locomotives(_, L, R )?=>  len(L)==0 , R = [].

find_locomotives( S, [ A | Loc], [B|L_Locomotives] ) ?=>
            (Id_Serv, Start_P, Start_T, End_P, End_T) = S,
            (Id_Loc, Position, Time) = A,
            
            printf("\n A:%w  S:%w", A, S), 
            Position == Start_P,
            Time =< Start_T,
            %B = (Id_Loc, End_P, End_T),
            B = (Id_Loc, Position, Time), %%% selecionada
            find_locomotives(S, Loc, L_Locomotives ).
       

find_locomotives(S, [A|Loc], L_Locomotives ) ?=>
        (Id_Serv, Start_P, Start_T, End_P, End_T) = S,
        (Id_Loc, Position, Time) = A,
        (Position != Start_P ;
        Time > Start_T),
        find_locomotives(S, Loc, L_Locomotives ).

 x:b5001,dro,0,dro,2880  L:[(250-1,dro,0),(250-2,dro,0),(246-1,dnm,50400),(246-2,dnm,50400),(203-1,bwur,50400),(203-2,bwur,50400),(203-3,bwur,50400),(203-4,bwur,50400)]

In [29]:
%%picat
import util.
main ?=>
 L = [(5,dro), (11,dro), (51,dro), (488,dro)],
 X = (-550,dro),
 % printf("\n X:%w  L:%w \n L2:%w", X, L, L2),
 L3 = find_2(X, L),
 find_N(X,L,L2),
 printf("\n X:%w  L:%w \n L2:%w \n L3:%w", X, L, L2, L3).  

main => true.

%%% FUNCTIONAL VIEW -- ANY BACKTRACKING IS ALLOWED
find_2( _ , L ) = R,  len(L)==0 =>  R = [].
find_2( S, Linp ) = R =>
    Linp =  [ A | L],
    (Num, Name) = S,
    (Num_A, Name_A) = A,
    %printf("\n S:%w  A:%w", S, A), 
    %% NO BACKTRACKING
    if (Num <= Num_A &&  Name == Name_A) then
    	R = [ A | find_2(S, L) ]
    else
    	R = find_2(S, L)
    end.

/*****************************/
%%% LOGIC VIEW --  BACKTRACKING IS ALLOWED AND EXPLICITED
find_N(_, L, R ) ?=>  len(L)==0 , R = [].
find_N( S, Linp, Lout ) ?=>
    Linp =  [ A | L1],
    Lout = [ B | L2 ],
    (Num, Name) = S,
    (Num_A, Name_A) = A,
     B = (Num_A, Name_A trace,),
    %printf("\n A:%w  S:%w", A, S), 
    Num <= Num_A,
    Name == Name_A,
    find_N(S, L1, L2 ).

find_N( S, Linp, Lout ) =>
    Linp =  [ A | L1],
    Lout =  L2 ,
    (Num, Name) = S,
    (Num_A, Name_A) = A,
     (Num > Num_A ;
      Name != Name_A),
     find_N(S, L1, L2 ).

*** SYNTAX ERROR *** (29-38) token ) expected.
find_N( S, Linp, Lout ) ?=>
    Linp =  [ A | L1],
    Lout = [ B | L2 ],
    (Num, Name) = S,
    (Num_A, Name_A) = A,
     B = (Num_A, Name_A  <<HERE>>
                        trace,),
    %printf("\n A:%w  S:%w", A, S),
    Num <= Num_A,
    Name == Name_A,
    find_N(S, L1, L2 ).


*** error(syntax_error,picat)

In [30]:
%%picat

import input_test.

main ?=>
    services(Services), %% from Excell
    locomotives(Locomotives),
    locomotive_classes(Locomotive_Classes),
    L_Class_of_Locomotive = [295,246] ,
    %S = (o008,hcn,399600,hcg,399900,mdiesel),
    S = (n001,lbkn,187800,hbddv,198600,mdiesel),
   
    %S = (q002,lmof,93300,bwur,95100,sdiesel),
    %S= (a001,hgrd,37740,hesh,62700,ldual),
    find_locomotives(S, Locomotives, Class_of_Locomotive, Lout ),
    writeln(l1 = Lout),
    %S2 =  (a001,bwur,377400,hesh,627000,ldual),
    S2 = (q003,bwur,126600,lmof,128400,sdiesel),
    %S2 = (n002,hbddv,201000,lbkn,211800,mdiesel),
    %S2 = (o008,hcn,99399600,hcg,99399900,mdiesel),
    find_locomotives(S2, Locomotives, Class_of_Locomotive, Lout2 ),
    write(l2 = Lout2). 


%%%OK ...
find_locomotives(_, [], _, R ) ?=>  R = [].
find_locomotives(S, Loc, Class_of_Locomotive, Lout ) ?=>
    %printf("\n S: %w \t %w ", S , Linp),	
    Loc =  [ (Loc_ID, Loc_Class, Position, Time ) | L1],  
    %%% available locomotives
    % EXAMPLE: ('159-001', 159, 'hgrd', 37740),

    (Id_Serv, Start_P, Start_T, End_P, End_T, _ ) = S,
    %(Id_Loc, Position, Time) = A,
    (   to_string(Position) == to_string(Start_P),        
        Time =< Start_T,
        to_string(Loc_Class) == to_string(Class_of_Locomotive)
    ),

    %B = (Id_Loc, End_P, End_T),
    Lout = [ B | Rest ],
    B = (Loc_ID, Position, Time), %%% selected
    find_locomotives(S, L1,  Class_of_Locomotive, Rest ).

%%% proceed in recursion
find_locomotives(S, Loc, Class_of_Locomotive, Lout ) =>
    Loc =  [ (Loc_ID, Loc_Class, Position, Time ) | L1],  %%% available locomotives
    
    S = (Id_Serv, Start_P, Start_T, End_P, End_T, _ ) ,
    %A = (Id_Loc, Position, Time),
    (   to_string(Position) != to_string(Start_P) ;
        Time > Start_T;
        to_string(Loc_Class) != to_string(Class_of_Locomotive) 
    ), 
    %%% if the locomotive class is not of the class that accepts the service
    %% the service has a class ... this class is attended by a class of locomotives
    %% and the candidate locomotive must be in this class!

    find_locomotives(S, L1, Class_of_Locomotive, Lout ).

l1 = '[]'
l2 = '[]'

In [31]:
%%picat

import input_test.

main ?=>
    /* LER AS PLANILHAS */
    %services(Services), %% from Excell
    %locomotives(Locomotives),
    %locomotive_classes(Locomotive_Classes),
    Locomotive_Classes = [(203,sdiesel,dt_203,dt_sdiesel),(295,mdiesel,dt_295,dt_mdiesel),(246,mdiesel,dt_246,dt_mdiesel),(159,ldual,nan,nan)],
    
    %S= (a001,hgrd,37740,hesh,62700,ldual),
    get_class_from_locomotive(ldual, Locomotive_Classes, Class1),
    %Class1 = get_class_from_locomotive(ldual, Locomotive_Classes ),
    writeln(cl = Class1),
    
    get_class_from_locomotive(ldiesel, Locomotive_Classes, Class2),
    writeln(c2 = Class2),
    
    get_class_from_locomotive(dt_sdiesel, Locomotive_Classes, Class3),
    writeln(c3 = Class3).    
    
/*
%get_class_from_locomotive(Serv_Class, [] ) = Class => 
%        Class = 9999.
get_class_from_locomotive(Serv_Class, [(Loc, Loc_Class, _, _)|L] ) = Class =>
        if (Loc_Class == Serv_Class) then
            Class = Loc
        else
           Class = get_class_from_locomotive(Serv_Class, L)
        end.
*/

get_class_from_locomotive(Serv_Class, Loc_Classes, Code_Class) ?=>
    Loc_Classes == [],
    Code_Class = 9999,
    printf("\n ===> The locomotive for this class was not found!!!\n").

get_class_from_locomotive(Serv_Class, Loc_Classes, Code_Class) ?=>
    Loc_Classes = [(Loc, Loc_Class, _, _) | _],
    to_string(Loc_Class) == to_string(Serv_Class),
    Code_Class = Loc.

get_class_from_locomotive(Serv_Class, Loc_Classes, Code_Class) =>
    Loc_Classes = [(Loc, Loc_Class, _, _) | L],
    %%% the service Class should be compatible with Locomotive Class
    %%% inside of this class it will choose one.
    %to_string(Loc_Class) != to_string(Serv_Class),
    get_class_from_locomotive(Serv_Class, L, Code_Class).

cl = 159

 ===> The locomotive for this class was not found!!!
c2 = 9999

 ===> The locomotive for this class was not found!!!
c3 = 9999

In [32]:

%%picat

import input_test.

main ?=>
    /* LER AS PLANILHAS */
    services(Services), %% from Excell
    locomotives(Locomotives),
    locomotive_classes(Locomotive_Classes),
    
    %S= (a001,hgrd,37740,hesh,62700,ldual),
    X = 159-001,
    M = update_position(('159-001',cccchesh,62700), Locomotives),
    writeln(m=M).


update_position((A_Loc, E_Next, T_Next), [] ) = R => R = [].
%%% achou a locomotiva então atualize       
update_position((A_Loc, E_Next, T_Next), [(Loc_ID, Class, Where_is, When) | Rest]) = New_Loc_Place
        , (to_string(A_Loc) == to_string(Loc_ID)) =>
        New_Loc_Place = [(Loc_ID, Class,  E_Next, T_Next) | Rest].
%% pega a proxima da lista de Locomotives
update_position((A_Loc, E_Next, T_Next), [(Loc_ID,  Class, Where_is, When) |Rest]) = New_Loc_Place
    , to_string(A_Loc) != to_string(Loc_ID) => 
    New_Loc_Place = [(Loc_ID,  Class, Where_is, When)  | update_position((A_Loc, E_Next, T_Next), Rest) ].
    %%% avança na lista    



% S1 = '159-001',  Str= to_string(S1), split(Str, "-")= [P1,P2], ST=P1++P2, ST == '159001'.

m = [('159-001',159,cccchesh,62700),('159-002',159,bwur,68400),('159-003',159,bwur,60600),('159-004',159,bhc,139200),('159-005',159,hbsr,53400),('159-006',159,hcn,56100),('159-007',159,bwur,41700),('159-009',159,bwur,147900),('159-010',159,bwur,67200),('159-011',159,lqb,54600),('159-219',159,bwur,126600),('159-223',159,hmg,0),('246-001',246,lbkn,187800),('295-950',295,hcn,2100),('203-144',203,bwur,299400),('203-616',203,bwur,88800)]

In [33]:
%%picat
main => 
    % Define the inputs
    X = ab23,
    Y = 'ab23',

    % Convert both to strings for comparison
    %to_string(X, StrX),
    %to_string(Y, StrY),
    StrX = to_string(X),
    StrY  = to_string(Y),
 Serv Class: mdiesel <=> New SER Class: dt_sdiesel_75ac0
 Serv Class: mdiesel <=> New SER Class: ldiesel_75ad0
 Serv Class: mdiesel <=> New SER Class: ldual_75ae0
 Serv Class: mdiesel <=> New SER Class: dt_sdiesel_75b20

    % Perform the comparison
    if (StrX == StrY) then
        println("Equal")
    else
        println("Not Equal")
    end.

*** SYNTAX ERROR *** (1-21) missing ',', ';', or some other operator.
main =>
    % Define the inputs
    X = ab23,
    Y = 'ab23',

    % Convert both to strings for comparison
    %to_string(X, StrX),
    %to_string(Y, StrY),
    StrX = to_string(X),
    StrY  = to_string(Y),
 Serv  <<HERE>>
      Class: mdiesel <=> New SER Class: dt_sdiesel_75ac0
 Serv Class: mdiesel <=> New SER Class: ldiesel_75ad0
 Serv Class: mdiesel <=> New SER Class: ldual_75ae0
 Serv Class: mdiesel <=> New SER Class: dt_sdiesel_75b20

    % Perform the comparison
    if (StrX == StrY) then
        println("Equal")
    else
        println("Not Equal")
    end.


*** error(syntax_error,picat)

In [34]:
%%picat
main =>
    % Test cases
 
printf("\n Case 1  %w",     compare_values(ab-23, 'ab-23')),
printf("\n Case 2  %w",    compare_values(159-001, '159-001')),
printf("\n Case 3  %w",    compare_values(abc-def, 'abc-def')).

compare_values(X, Y) = R =>
    % Convert both to strings for comparison
    StrX = to_string(X),
    StrY = to_string(Y),

    % Perform the comparison
    if (StrX == StrY) then
       R = "Equal "
    else
       R = "Not Equal "
    end.

*** error(syntax_error,picat)

In [36]:
%%picat
main =>
    %L1 = [(dt_sdiesel, 10), (ldiesel, 10), (ldual, 20)],
    L1 = [(sdiesel, 10), (ldiesel, 10), (ldual, 20)],
    L2 = [('203', sdiesel, dt_203, dt_sdiesel), ('295', mdiesel, dt_295, dt_mdiesel), ('246', mdiesel, dt_246, dt_mdiesel), ('159', ldual, nan, nan)],
    R = filter_from_options_existence(L1, L2),
    print(R).

filter_from_options_existence(L_Options_Penalty, Loc_Classes) = R =>
    R = [(Serv_Class_1, Penalty) : 
        (Serv_Class_1, Penalty) in L_Options_Penalty,
        (Loc, Serv_Class_2, _, _) in Loc_Classes,
        to_string(Serv_Class_1) == to_string(Serv_Class_2)].

[(sdiesel,10),(ldual,20)]